.groups {
  &__group-list-item {
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    ion-label {
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
