<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'GROUPS.INVITE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="join_code__container">
    <div class="inner-container join_code__code">{{ code }}</div>
    <div class="join_code__valid-to">
      {{ 'GROUPS.CODE_EXPIRES' | translate }}
      {{
        validTo?.toLocaleString(undefined, {
          dateStyle: 'short',
          timeStyle: 'short',
        })
      }}
    </div>

    <div class="join_code__button-container">
      <ion-button (click)="copyCode()" color="primary">
        {{ 'GROUPS.COPY_CODE' | translate }}</ion-button
      >
      <ion-button (click)="cancel()" color="secondary">
        {{ 'CLOSE' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
