<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="app/groups"></ion-back-button>
    <ion-title>{{ group?.name ?? '' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ group?.name ?? '' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (group) {
    <div class="group-details__containers">
      <p class="inner-container">
        {{ group.description }}
      </p>
      <h2>Balans</h2>
      <div class="group-details__balances">
        @for (balance of balances; track $index) {
          <div class="inner-container">
            <span>
              <strong>
                {{ balance.deptor.username }}
              </strong>
              jest winny
              <strong>
                {{ balance.payer.username }}
              </strong>
              {{ balance.balance.balance }}
              {{ currencySymbol }}
            </span>
          </div>
        } @empty {
          <span class="inner-container ion-text-center"> Brak </span>
        }
      </div>
    </div>
  } @else {
    <ion-loading isOpen="{{ loading$ | async }}"></ion-loading>
  }
</ion-content>
