<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-back-button slot="start" defaultHref="app/groups"></ion-back-button>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-back-button></ion-back-button>
    </ion-toolbar>
  </ion-header>
  <div class="add-view__container">
    <ion-button color="primary" href="app/groups/add">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      <ion-label>Załóż grupę</ion-label>
    </ion-button>
    <ion-button color="primary" href="app/groups/join">
      <ion-icon slot="start" name="person-add-outline"></ion-icon>
      <ion-label>Dołącz do grupy</ion-label>
    </ion-button>
    <ion-button color="secondary" href="app/expense/add">
      <ion-icon slot="start" name="cash-outline"></ion-icon>
      <ion-label>Dodaj wydatek</ion-label>
    </ion-button>
    <ion-button color="tertiary">
      <ion-icon slot="start" name="card-outline"></ion-icon>
      <ion-label>Przelej środki</ion-label>
    </ion-button>
  </div>
</ion-content>
