<ion-header class="sign-in__header">
  <ion-icon slot="icon-only" name="logo"> </ion-icon>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="sign-in__container">
    <div class="inner-container">
      <form
        (ngSubmit)="onSubmit($event)"
        [formGroup]="authForm"
        class="sign-in__form"
      >
        <h2>{{ 'AUTH.SIGN_IN' | translate }}</h2>
        <ion-input
          formControlName="email"
          type="email"
          class="app-input"
          label="E-mail"
        ></ion-input>
        <ion-input
          formControlName="password"
          type="password"
          class="app-input"
          label="{{ 'AUTH.PASSWORD' | translate }}"
        ></ion-input>
        <ion-button
          [disabled]="!(authForm.valid && authForm.touched)"
          color="primary"
          type="submit"
          >{{ 'AUTH.SIGN_IN' | translate }}</ion-button
        >
      </form>

      <div class="sign-in__sign-up">
        <ion-button href="sign-up" color="secondary">
          {{ 'AUTH.SIGN_UP' | translate }}
        </ion-button>
        <ion-button href="reset-password" fill="outline" color="tertiary">
          Zresetuj hasło
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
