.sign-in {
  &__header {
    font-size: 72px;
    display: flex;
    justify-content: center;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__sign-up {
    display: flex;
    flex-direction: column;

    ion-button {
      width: 100%;
      margin: auto 0;
    }
  }
}
