<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="sign-in" slot="start"></ion-back-button>
    <ion-title>{{ 'AUTH.PASSWORD_RESET' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        'AUTH.PASSWORD_RESET' | translate
      }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="reset-password__container">
    @switch (step) {
      @case (1) {
        <form
          [formGroup]="requestForm"
          (ngSubmit)="onRequestSubmit()"
          class="inner-container"
        >
          <ion-input
            label="E-mail"
            formControlName="email"
            class="app-input"
            type="email"
          >
          </ion-input>
          @if (
            requestForm.get('email')?.touched &&
            !requestForm.get('email')?.valid
          ) {
            @if (requestForm.get('email')?.hasError('required')) {
              <app-error-label error="VALIDATION.REQUIRED" />
            }
            @if (requestForm.get('email')?.hasError('email')) {
              <app-error-label error="VALIDATION.EMAIL_ERROR" />
            }
          }
          <ion-button
            [disabled]="!(requestForm.valid && requestForm.touched) || saving"
            color="primary"
            type="submit"
          >
            @if (saving) {
              {{ 'AUTH.REQUEST_SENDING' | translate }}
            } @else {
              {{ 'AUTH.RESET_PASSWORD' | translate }}
            }
          </ion-button>
        </form>
      }
      @case (2) {
        <form
          [formGroup]="resetPasswordForm"
          (ngSubmit)="onResetSubmit()"
          class="inner-container"
        >
          <p>
            {{ 'AUTH.RESET_PASSWORD_INFO' | translate }}
          </p>
          <ion-input
            formControlName="password"
            label="{{ 'AUTH.PASSWORD' | translate }}"
            class="app-input"
            type="password"
          ></ion-input>
          @if (
            resetPasswordForm.get('password')?.touched &&
            !resetPasswordForm.get('password')?.valid
          ) {
            @if (resetPasswordForm.get('password')?.hasError('required')) {
              <app-error-label
                error="{{ 'VALIDATION.REQUIRED' | translate }}"
              />
            }
            @for (
              key of object.keys(resetPasswordForm.get('password')!.errors!);
              track $index
            ) {
              @if (key !== 'required') {
                <app-error-label
                  [error]="resetPasswordForm.get('password')!.errors![key]"
                />
              }
            }
          }
          <ion-input
            formControlName="reapetedPassword"
            label="{{ 'AUTH.REPEAT_PASSWORD' | translate }}"
            class="app-input"
            type="password"
          ></ion-input>
          @if (
            resetPasswordForm.get('reapetedPassword')?.touched &&
            !resetPasswordForm.get('reapetedPassword')?.valid
          ) {
            @if (
              resetPasswordForm.get('reapetedPassword')?.hasError('required')
            ) {
              <app-error-label
                error="{{ 'VALIDATION.REQUIRED' | translate }}"
              />
            }
          }
          @if (
            resetPasswordForm.get('reapetedPassword')?.touched &&
            resetPasswordForm.get('password')?.touched &&
            resetPasswordForm.hasError('fieldsMismatch')
          ) {
            <app-error-label error="VALIDATION.PASSWORDS_MISMATCH" />
          }
          <ion-input
            formControlName="code"
            [label]="'AUTH.CODE' | translate"
            class="app-input"
          ></ion-input>
          @if (
            resetPasswordForm.get('code')?.touched &&
            !resetPasswordForm.get('code')?.valid
          ) {
            @if (resetPasswordForm.get('code')?.hasError('required')) {
              <app-error-label error="VALIDATION.REQUIRED" />
            }
          }
          <ion-button
            [disabled]="
              !(resetPasswordForm.valid && resetPasswordForm.touched) || saving
            "
            color="primary"
            type="submit"
          >
            @if (saving) {
              {{ 'AUTH.RESETING' | translate }}
            } @else {
              {{ 'AUTH.CODE' | translate }}
            }
          </ion-button>
        </form>
      }
      @case (3) {
        <div class="inner-container">
          <h2>
            {{ 'SUCCESS' | translate }}
          </h2>
          <ion-button href="sign-in">
            {{ 'AUTH.SIGN_IN' | translate }}
          </ion-button>
        </div>
      }
    }
  </div>
</ion-content>
<ion-alert
  [isOpen]="showErrorAlert"
  [header]="errorAlertTitle"
  [message]="errorAlertContent"
  [buttons]="errorAlertButtons"
  (didDismiss)="hideErrorAlert()"
></ion-alert>
