<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'GROUPS.JOIN_GROUP' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'GROUPS.JOIN_GROUP' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="join__container">
    <form class="inner-container" (submit)="onSubmit()" [formGroup]="form">
      <ion-input
        formControlName="code"
        [label]="'GROUPS.CODE' | translate"
        class="app-input"
      >
      </ion-input>
      @if (form.get('code')?.touched && !form.get('code')?.valid) {
        @if (form.get('code')?.hasError('required')) {
          <app-error-label error="VALIDATION.REQUIRED" />
        }
      }
      <ion-button
        [disabled]="!(form.valid && form.touched) || saving"
        color="primary"
        type="submit"
      >
        @if (saving) {
          {{ 'GROUPS.JOIN' | translate }}
        } @else {
          {{ 'GROUPS.JOIN' | translate }}
        }
      </ion-button>
    </form>
  </div>
</ion-content>

<ion-alert
  [isOpen]="showErrorAlert"
  [header]="'VALIDATION.ERROR_OCCURED' | translate"
  [message]="'GROUPS.INCORRECT_CODE' | translate"
  [buttons]="errorAlertButtons"
  (didDismiss)="hideErrorAlert()"
></ion-alert>
