@{
    Layout = "_Layout";
    ViewData["Title"] = "PoRowno";
    var success = ViewBag.ActivationSucces;
}


@if(success)
{
    <p>
        The account has been successfully activated.
    </p>
}
else
{
    <p>
        The account could not be activated.
    </p>
}