<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'USER.PASSWORD_CHANGE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        'USER.PASSWORD_CHANGE' | translate
      }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <form
      class="inner-container"
      [formGroup]="form"
      (ngSubmit)="onSubmit($event)"
    >
      <ion-input
        formControlName="password"
        label="{{ 'AUTH.PASSWORD' | translate }}"
        class="app-input"
        type="password"
      ></ion-input>
      @if (form.get('password')?.touched && !form.get('password')?.valid) {
        @if (form.get('password')?.hasError('required')) {
          <app-error-label error="{{ 'VALIDATION.REQUIRED' | translate }}" />
        }
      }

      <ion-input
        formControlName="newPassword"
        label="{{ 'AUTH.NEW_PASSWORD' | translate }}"
        class="app-input"
        type="password"
      ></ion-input>
      @if (
        form.get('newPassword')?.touched && !form.get('newPassword')?.valid
      ) {
        @if (form.get('newPassword')?.hasError('required')) {
          <app-error-label error="{{ 'VALIDATION.REQUIRED' | translate }}" />
        }
        @for (
          key of object.keys(form.get('newPassword')!.errors!);
          track $index
        ) {
          @if (key !== 'required') {
            <app-error-label [error]="form.get('newPassword')!.errors![key]" />
          }
        }
      }
      <ion-input
        formControlName="reapetedPassword"
        label="{{ 'AUTH.REPEAT_PASSWORD' | translate }}"
        class="app-input"
        type="password"
      ></ion-input>
      @if (
        form.get('reapetedPassword')?.touched &&
        !form.get('reapetedPassword')?.valid
      ) {
        @if (form.get('reapetedPassword')?.hasError('required')) {
          <app-error-label error="{{ 'VALIDATION.REQUIRED' | translate }}" />
        }
      }
      @if (
        form.get('reapetedPassword')?.touched &&
        form.get('newPassword')?.touched &&
        form.hasError('fieldsMismatch')
      ) {
        <app-error-label error="VALIDATION.PASSWORDS_MISMATCH" />
      }
      <ion-button
        [disabled]="!(form.valid && form.touched) || saving"
        color="primary"
        type="submit"
      >
        @if (saving) {
          {{ 'SAVING' | translate }}
        } @else {
          {{ 'SAVE' | translate }}
        }
      </ion-button>
    </form>
  </div>
</ion-content>
<ion-alert
  [isOpen]="showAlert"
  [header]="alertTitle"
  [message]="alertContent"
  [buttons]="alertButtons"
  (didDismiss)="hideAlert()"
></ion-alert>
